---
import { categories } from "@data/category";
import type { Category } from "@data/category";
import { latestPosts } from "@utils/content";
import Base from "@layouts/Base.astro";
import Container from "@components/container.astro";
import Label from "@components/ui/label.astro";
import PostTile from "@components/posttile.astro";

export function getStaticPaths() {
  const map = {};

  categories.forEach((category: Category) => {
    map[category.slug] = latestPosts?.filter(
      (post) => post?.data?.category === category?.slug
    );
  });

  return categories?.map((category) => ({
    params: {
      category: category?.slug,
    },
    props: {
      posts: map[category?.slug],
      category: category,
    },
  }));
}

const { category, posts } = Astro.props;
---

<Base title="Categories">
  <Container>
    <main>
      <div class="grid grid-cols-1 auto-rows-max text-center">
        <Label theme={category.color} slug={category.slug}>
          {category.title}
        </Label>
      </div>
      <div class="grid gap-10 mt-10 lg:gap-10 md:grid-cols-2 xl:grid-cols-3">
        {posts.map((post) => <PostTile post={post} aspect="square" />)}
      </div>
    </main>
  </Container>
</Base>
