---
import Container from "@components/container.astro";
import Postlist from "@components/postlist.astro";
import CategoryPosts from "@components/categoryposts.astro";
import ContentBar from "@components/contentbar.astro";
import Base from "@layouts/Base.astro";
import { categories } from "@data/category";
import { latestPosts } from "@utils/content";
// Use Astro.glob() to fetch all posts, and then sort them by date.
// const posts = (await Astro.glob("./blog/*.{md,mdx}")).sort(
//   (a, b) =>
//     new Date(b.frontmatter.publishDate).valueOf() -
//     new Date(a.frontmatter.publishDate).valueOf()
// );
// console.log(posts[0].frontmatter.image);
---

<Base title="">
  <Container class="!py-0">
    <ContentBar class="mx-auto mb-12" />
    <main>
      <div class="grid gap-10 lg:gap-10 md:grid-cols-1">
        {
          latestPosts
            .slice(0, 1)
            .map((post) => (
              <Postlist post={post} aspect="landscape" preloadImage={true} />
            ))
        }
      </div>
      {categories?.map((category) => <CategoryPosts category={category} />)}
    </main>
  </Container>
</Base>
