---
import Container from "@components/container.astro";
import Postlist from "@components/postlist.astro";
import ContentBar from "@components/contentbar.astro";
import Base from "@layouts/Base.astro";
import { latestPosts } from "@utils/content";
// Use Astro.glob() to fetch all posts, and then sort them by date.
// const posts = (await Astro.glob("./blog/*.{md,mdx}")).sort(
//   (a, b) =>
//     new Date(b.frontmatter.publishDate).valueOf() -
//     new Date(a.frontmatter.publishDate).valueOf()
// );
// console.log(posts[0].frontmatter.image);
---

<Base title="">
  <Container class="!py-0">
    <ContentBar class="mx-auto py-3 mb-12" />
    <main>
      <div class="grid gap-10 lg:gap-10 md:grid-cols-1">
        {
          latestPosts
            .slice(0, 1)
            .map((post) => (
              <Postlist post={post} aspect="landscape" preloadImage={true} />
            ))
        }
      </div>
      <div class="flex items-center justify-between mt-14">
        <h1
          class="text-sm uppercase tracking-widest font-medium text-gray-500 dark:text-white">
          Web development
        </h1>
        <a
          href="#"
          class="px-5 py-2 text-sm font-medium text-gray-600 dark:text-gray-400 hover:text-blue-500">
          See All
        </a>
      </div>
      <div class="grid gap-10 mt-5 lg:gap-10 md:grid-cols-2 xl:grid-cols-3">
        {
          latestPosts
            .slice(1, 4)
            .map((post) => <Postlist post={post} aspect="square" />)
        }
      </div>

      <div class="flex items-center justify-between mt-14">
        <h1
          class="text-sm uppercase tracking-widest font-medium text-gray-500 dark:text-white">
          Essay
        </h1>
        <a
          href="#"
          class="px-5 py-2 text-sm font-medium text-gray-600 dark:text-gray-400 hover:text-blue-500">
          See All
        </a>
      </div>
      <div class="grid gap-10 mt-5 lg:gap-10 md:grid-cols-2 xl:grid-cols-3">
        {
          latestPosts
            .slice(4)
            .map((post) => <Postlist post={post} aspect="square" />)
        }
      </div>
    </main>
  </Container>
</Base>
