---
import Label from "@components/ui/label.astro";
import { categories } from "@data/category";

const { class: className } = Astro.props;
---

<section
  id="contentbar"
  class:list={[
    "flex items-center justify-center bg-white rounded-xl  dark:border-gray-800 py-4",
    className,
  ]}>
  <div class="flex items-center justify-around w-full">
    {
      categories?.map((category) => (
        <Label
          theme={category.color}
          slug={category.slug}
          class="!mt-0 bg-gradient-to-r from-green-200 to-green-100 dark:from-purple-800 dark:to-purple-900 bg-[length:0px_10px] bg-left-bottom bg-no-repeat transition-[background-size] duration-500 hover:bg-[length:100%_3px] group-hover:bg-[length:100%_10px]">
          {category?.title}
        </Label>
      ))
    }
  </div>
</section>

<style>
  #contentbar {
    --tw-shadow: 0 8px 36px -12px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
      var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }
</style>
