---
import Label from "@components/ui/label.astro";
import { categories } from "@data/category";

const { class: className } = Astro.props;
---

<section
  class:list={[
    "flex items-center justify-center border-y border-solid border-gray-100 dark:border-gray-800",
    className,
  ]}>
  <div class="flex items-center justify-around w-full">
    {
      categories?.map((category) => (
        <Label
          theme={category.color}
          slug={category.slug}
          class="mt-0 bg-gradient-to-r from-green-200 to-green-100 dark:from-purple-800 dark:to-purple-900 bg-[length:0px_10px] bg-left-bottom bg-no-repeat transition-[background-size] duration-500 hover:bg-[length:100%_3px] group-hover:bg-[length:100%_10px]">
          {category?.title}
        </Label>
      ))
    }
  </div>
</section>
