---
import Container from "./container.astro";
import Themeswitch from "./themeswitch.astro";
---

<Container class="mt-10 border-t border-gray-100 dark:border-gray-800">
  <footer class="flex flex-col items-center">
    <div class="text-sm text-center">
      Copyright &copy; {new Date().getFullYear()}. All rights reserved.
    </div>
    <div
      class="flex justify-center gap-1 mt-1 text-sm text-center text-gray-500 dark:text-gray-600">
      <span>
        Made by
        <a
          href="https://abhinaythakur.com"
          rel="noopener"
          target="_blank"
          class="underline">
          Abhinay Thakur
        </a>
      </span>
      <span>&middot;</span>
      <span>
        <a
          href="https://github.com/thisisabhinay"
          rel="noopener"
          target="_blank">
          Github
        </a>
      </span>
      <span>&middot;</span>
      <span>
        <a
          href="https://medium.com/@thisisabhinay"
          rel="noopener"
          target="_blank">
          Medium
        </a>
      </span>
      <span>&middot;</span>
      <span>
        <a href="https://dev.to/thisisabhinay" rel="noopener" target="_blank">
          Dev.to
        </a>
      </span>
    </div>
    <div class="flex items-center justify-between mt-2">
      <Themeswitch />
    </div>
  </footer>
</Container>
