---
const { align = "center" } = Astro.props;
---

<div class:list={[align === "center" && "text-center", "pb-8"]}>
  <h1
    class="text-3xl font-semibold text-center text-brand-primary lg:text-4xl dark:text-white">
    <slot name="title" />
  </h1>
  <p class="text-lg mt-3 text-gray-500">
    <slot name="desc" />
  </p>
</div>
